# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env
.env.*.local

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# Runtime data
lib-cov
coverage/
.nyc_output
.cache/
.tmp/

# Debug & Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Build outputs
dist/
build/
out/
.next/
.nuxt/
.svelte-kit/
public/build/
.eslintcache

# OS-specific files
.DS_Store
Thumbs.db

# IDEs & Editors
.vscode/
.idea/
*.swp
*.sw*
